$content-font: Garamond, Georgia, serif;
$title-colour: #8332AC;

.title {
    font-family: $content-font;
    font-weight: bold;
    color: $title-colour;
}

.date {
    font-weight: italic;
}

.content {
    margin-top: 2px;
    font-family: $content-font;
    font-size: 18px;
}