$heading-colour: #502274;
$title-colour: #8332AC;
$title-hover-colour: #8B5FBF;
$synopsis-colour: #2E282A;

.heading {
    color: $heading-colour;
    font-size: 35px;
}

.postDiv {
    display: flex;
}

.title {
    color: $title-colour;
}

.title:hover {
    text-decoration: underline;
    color: $title-hover-colour;
}

.post {

    a {
        text-decoration: none;
    }

    h2 {
        margin-bottom: 0;
    }

    p {
        color: $synopsis-colour;
        font-size: 0.95rem;
        font-style: italic;
    }
}