$heading-title-colour: #CC59D2;
$paragraph-text-colour: #F6F7EB;
$paragraph-text-size: 20px;
$paragraph-font: "Avenir Next";

.heading {
    color: $heading-title-colour;
}

.description {
    color: $paragraph-text-colour;
    font-size: $paragraph-text-size;
    font-family: $paragraph-font;
}

.contact {
    a:visited {
        color: #CC58D2;
    }
}