$heading-title-colour: #CC59D2;
$paragraph-text-colour: #F6F7EB;
$paragraph-text-size: 18px;
$paragraph-font: "Avenir Next";

.description {
    color: $paragraph-text-colour;
    font-size: $paragraph-text-size;
    font-family: $paragraph-font;
}

.heading {
    color: $heading-title-colour;
}

li {
    font-size: $paragraph-text-size;
    color: $paragraph-text-colour;
}