$heading-title-colour: #502274;
$paragraph-text-colour: black;
$paragraph-text-size: 18px;
$paragraph-font: Garamond, Georgia, serif;

.description {
    color: $paragraph-text-colour;
    font-size: $paragraph-text-size;
    font-family: $paragraph-font;
}

.heading {
    color: $heading-title-colour;
}

li {
    font-size: $paragraph-text-size;
}