$title-colour: #CC59D2;
$subtitle-colour: #FBFBFB;
$nav-item-colour: #CC59D2;
$nav-item-hover-colour: #FBFBFB;
$nav-active-colour: #EFABFF;
$general-font-family: "Avenir Next";

/* Header */
.header {
    padding: 1rem 0 3rem;
}

.title {
    color: $title-colour;
    font-size: 3rem;
    text-decoration: none;
    font-family: $general-font-family;
}

.subtitle {
    color: $subtitle-colour;
    font-family: $general-font-family;
}

/* Nav items */

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color: $nav-item-colour;
    font-size: 1.1rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav-item:hover {
    color: $nav-item-hover-colour;
}

.active-nav-item {
    font-weight: bold;
    color: $nav-active-colour;
}