$title-colour: #502274;
$subtitle-colour: #2E282A;
$nav-item-colour: #502274;
$nav-item-hover-colour: #7871AA;
$active-nav-item-colour: #380036;

/* Header */
.header {
    padding: 1rem 0 3rem;
}

.title {
    color: $title-colour;
    font-size: 3rem;
    text-decoration: none;
}

.subtitle {
    color: $subtitle-colour;
}

/* Nav items */

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color: $nav-item-colour;
    font-size: 1.1rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav-item:hover {
    color: $nav-item-hover-colour;
}

.active-nav-item {
    color: $active-nav-item-colour;
    text-decoration: underline;
}